footer {
    font-size: 10px;
    text-transform: uppercase;
    width: 100%;
    background-color: rgb(253, 255, 66);

}

footer ul li {
    display: inline-block;
}

footer a,
footer a:active,
footer a:visited {
    color: rgb(0, 0, 0);
}

footer nav {
    box-sizing: content-box;
    margin-left: 25%;
}

footer nav ul li {
    padding: 13px 13px 22px 13px;
}